//Widescreens
@include mediaXl {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}
//Desktops & Laptops
@include mediaLg {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}
//Tablets and  small Laptops
@include mediaMd {
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 70vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding {
    height: 30vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      background: url("../img/portrait _smal.jpg");
      width: 150px;
      height: 150px;
    }
  }

  .about-info {
    grid-template-areas:
      "job1"
      "job2"
      "job3";

    grid-template-columns: 1fr;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

//smartphones
@include mediaSmH {
  main#home .boxes {
    margin-top: -2rem;
    div {
      font-size: 1.2rem;
      padding: 0.3rem 1.1rem;
    }
  }
}
@include mediaSm {
  main#about .bio {
    width: 250px;
  }
  .menu-branding {
    height: 29vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      background: url("../img/portrait _smal.jpg");
      width: 150px;
      height: 150px;
    }
  }

  main#home h1 {
    margin-top: 6vh;
    font-size: 4rem;
  }
  main#about h1 {
    margin-top: 6vh;
    font-size: 4rem;
  }
  main#work h1 {
    margin-top: 6vh;
    font-size: 4rem;
  }

  main#contact h1 {
    margin-top: 6vh;
    font-size: 4rem;
  }
  main#contact .boxes div {
    font-size: 18px;
  }
  main#about .about-info img {
    width: 210px;
    height: 210px;
  }
  main#work .projects {
    grid-template-columns: 1fr;
  }
  main#home .boxes div {
    h3 {
      font-size: 1.2rem;
    }
  }
}
