//4K Screens
@include mediaK {
  .menu-btn {
    right: 45px;
    top: 45px;
    .btn-line {
      width: 130px;
      height: 15px;
      margin: 0 0 13px 0;
    }
  }
  .menu .nav-link {
    font-size: 5rem;
    padding: 2rem 0;
  }
  .menu-branding .portrait {
    width: 500px;
    height: 500px;
  }
  main#home {
    h1 {
      margin-top: 18rem;
    }
    .lg-heading {
      font-size: 12rem;
    }
    .sm-heading {
      font-size: 4rem;
      margin-top: -1rem;
      margin-bottom: 1rem;
      margin-left: 1rem;
    }
    .icons {
      margin-left: 2rem;
      i.fa {
        font-size: 3em;
      }
    }
    .fixed-bottom {
      bottom: 8%;
    }
    .tabs {
      a {
        padding: 5rem;
      }
      .tab-item {
        i.fa {
          font-size: 6em;
        }
        h3 {
          font-size: 2rem;
          font-weight: 400;
        }
      }
    }
  }
  main#about {
    h1 {
      margin-top: 13rem;
    }
    .lg-heading {
      font-size: 12rem;
      line-height: 1;
      margin-bottom: 1rem;
    }
    .heading h2 {
      font-size: 8.4rem;
      margin-top: 8rem;
    }
    h3 {
      font-size: 2rem;
    }
    .sm-heading {
      font-size: 4rem;
      margin-top: -1rem;
      margin-bottom: 10rem;
      margin-left: -1rem;
      padding: 0.1rem 1rem;
      line-height: 1;
    }
    .skills {
      display: flex;
      flex-basis: 100%;
      justify-content: space-around;
    }
    .about-info .bio {
      width: 865px;
      .txt-secondary {
        color: #f2aa4cff;
        font-size: 2.5rem;
        margin-bottom: -2rem;
        margin-top: 4rem;
      }
      p {
        font-weight: 100;
        font-size: 44px;
      }
    }
    .skill-icon {
      i.fab {
        font-size: 14em;
      }
      i.fas {
        font-size: 14em;
      }
    }
    div.skill-iconp {
      font-size: 1336%;
      height: 209px;
      width: 209px;
      border: 4px solid white;
      border-radius: 10px;
      margin: 32px auto 13px auto;
      p {
        margin-top: -80px;
      }
    }

    #mybutton .reach-me {
      font-size: 3rem;
      padding: 15px 14px;
    }
    .float {
      width: 88px;
      height: 88px;
      bottom: 62px;
      right: 20px;
      font-size: 44px;
    }
    .my-float {
      margin-top: 24px;
    }
  }
  footer#main-footer {
    padding: 0.2rem;
    height: 80px;
    font-size: 2rem;
  }
  main#work {
    .lg-heading {
      font-size: 12rem;
      line-height: 1;
      margin-top: 20vh;
      margin-bottom: 1rem;
    }
    .sm-heading {
      font-size: 4rem;
      margin-top: 1rem;
      margin-bottom: 12rem;
      margin-left: -1rem;
      padding: 0.1rem 1rem;
      line-height: 1;
    }
    .heading h2 {
      font-size: 8.4rem;
      margin-top: 8rem;
    }
    .projects {
      grid-template-columns: repeat(4, 1fr);
      .item {
        a {
          font-size: 2rem;
        }
      }
    }
    #mybutton .reach-me {
      padding: 12px 11px;
      font-size: 2rem;
    }
    .float {
      width: 88px;
      height: 88px;
      bottom: 62px;
      right: 20px;
      font-size: 44px;
    }
    .my-float {
      margin-top: 24px;
    }
  }
  main#contact {
    .lg-heading {
      font-size: 12rem;
      line-height: 1;
      margin-top: 20vh;
      margin-bottom: 1rem;
    }
    .sm-heading {
      font-size: 4rem;
      margin-top: 1rem;
      margin-bottom: 12rem;
      margin-left: -1rem;
      padding: 0.1rem 1rem;
      line-height: 1;
    }
    .boxes {
      margin-top: 15rem;
      div {
        font-size: 3rem;
        padding: 3.5rem 4.5rem;
      }
    }
  }
}
//Widescreens
@include mediaXl {
  .menu-btn {
    .btn-line {
      width: 65px;
      height: 7px;
      margin: 0 0 10px 0;
    }
  }
  main#home {
    h1 {
      margin-top: 8rem;
    }
    .lg-heading {
      font-size: 7rem;
    }
    .sm-heading {
      font-size: 2rem;
      margin-top: 0;
      margin-bottom: 1rem;
      padding: 0 1rem;
    }
    .tabs {
      .tab-item h3 {
        font-size: 1rem;
        font-weight: 400;
      }
    }
  }
  main#about {
    .sm-heading {
      font-size: 2rem;
      margin-top: -1rem;
      margin-bottom: 1rem;
      margin-left: -1rem;
      padding: 0.1rem 1rem;
      line-height: 1;
    }
    .skills {
      display: flex;
      flex-basis: 100%;
      justify-content: space-around;
    }
    .about-info .bio {
      width: 527px;
      .txt-secondary {
        color: #f2aa4cff;
        font-size: 1.5rem;
        margin-bottom: -2rem;
        margin-top: 4rem;
      }
      p {
        font-weight: 100;
        font-size: 25px;
      }
    }
    #mybutton .reach-me {
      font-size: 1.3rem;
    }
  }
  main#work {
    .sm-heading {
      font-size: 2rem;
      margin-top: -1rem;
      margin-bottom: 5rem;
      margin-left: -1rem;
      padding: 0.1rem 1rem;
      line-height: 1;
    }
    .projects {
      grid-template-columns: repeat(4, 1fr);
    }
    #mybutton .reach-me {
      padding: 12px 11px;
      font-size: 1rem;
    }
  }
  main#contact {
    .boxes {
      margin-top: 8rem;
    }
  }

  footer#main-footer {
    font-size: 1.2rem;
  }
}
//Desktops & Laptops
@include mediaLg {
  .menu-btn {
    .btn-line {
      width: 60px;
      height: 6px;
      margin: 0 0 7px 0;
    }
  }
  main#home {
    .sm-heading {
      font-size: 2rem;
      margin-top: 0;
      margin-bottom: 1rem;
    }
    .tabs {
      .tab-item h3 {
        font-size: 1rem;
        font-weight: 400;
      }
    }
  }
  main#about {
    .sm-heading {
      font-size: 2rem;
      margin-top: -1rem;
      margin-bottom: 1rem;
      margin-left: -1rem;
      padding: 0.1rem 1rem;
      line-height: 1;
    }
    .skills {
      display: flex;
      flex-basis: 33.3%;
      justify-content: space-around;
    }
    .about-info .bio {
      width: 450px;
      .txt-secondary {
        color: #f2aa4cff;
        margin-bottom: -1rem;
        margin-top: 4rem;
      }
      p {
        font-weight: 100;
        font-size: 21px;
      }
    }
  }
  main#work {
    .sm-heading {
      font-size: 2rem;
      margin-top: -1rem;
      margin-bottom: 5rem;
      margin-left: -1rem;
      padding: 0.1rem 1rem;
      line-height: 1;
    }
    .projects {
      grid-template-columns: repeat(3, 1fr);
    }
    #mybutton .reach-me {
      padding: 8px 7px;
      font-size: 0.9rem;
    }
  }
}

//Tablets and  small Laptops
@include mediaMd {
  .menu-btn {
    right: 20px;
    top: 20px;
  }
  main#home {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 0rem;
      margin-top: 10vh;
      font-size: 4.03rem;
    }
    .sm-heading {
      font-size: 1.6rem;
      margin-top: 0.2rem;
      margin-bottom: 0.2rem;
    }
    div.icons i.fa {
      font-size: 25px;
    }
    .tabs {
      margin-top: 13rem;
      i.fa {
        font-size: 2em;
      }
      .tab-item h3 {
        font-size: 12px;
        font-weight: 400;
      }
    }
  }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 70vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding {
    height: 30vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      background: url("../img/portrait _smal.jpg");
      width: 150px;
      height: 150px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  main#about {
    .lg-heading {
      line-height: 1;
      margin-bottom: 0rem;
      margin-top: 10vh;
      font-size: 4.03rem;
    }
    .sm-heading {
      font-size: 1.6rem;
      margin-top: 0.1rem;
      margin-bottom: 1rem;
      margin-left: -1rem;
    }

    .bio {
      h3.txt-secondary {
        margin-bottom: -1rem;
      }
    }
    .skills {
      display: flex;
      flex-basis: 33.3%;
      justify-content: space-around;
    }

    .about-info {
      grid-template-areas:
        "job1"
        "job2"
        "job3";

      grid-template-columns: 1fr;
    }
  }
  main#work {
    .lg-heading {
      line-height: 1;
      margin-bottom: 0rem;
      margin-top: 10vh;
      font-size: 4.03rem;
    }
    .sm-heading {
      font-size: 1.6rem;
      margin-top: 0.1rem;
      margin-bottom: 4rem;
      margin-left: -1rem;
    }
    .projects {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  main#contact {
    .lg-heading {
      line-height: 1;
      margin-bottom: 0rem;
      margin-top: 10vh;
      font-size: 4.03rem;
    }
    .sm-heading {
      font-size: 1.6rem;
      margin-top: 0.1rem;
      margin-bottom: 1rem;
      margin-left: -1rem;
    }
  }
}

//smartphones
@include mediaSmH {
  main#home .boxes {
    margin-top: -2rem;
    margin-bottom: 0;
    div {
      font-size: 1.2rem;
      padding: 0.3rem 1.1rem;
    }
  }
}
@include mediaSm {
  .menu-btn {
    right: 20px;
    top: 20px;
    .btn-line {
      width: 42px;
      height: 5px;
    }
  }
  main#home {
    .lg-heading {
      margin-top: 13vh;
      font-size: 3rem;
      margin-left: 0;
      margin-bottom: 0;
    }
    .sm-heading {
      font-size: 1.7rem;
      margin-top: 0.2rem;
      margin-bottom: 0.2rem;
      margin-left: 0;
    }
    .icons i.fa {
      font-size: 22px;
    }
    .tabs {
      margin-top: 13rem;
      i.fa {
        font-size: 28px;
      }
      a {
        padding: 2rem;
      }
    }
    .tab-item h3 {
      font-size: 12px;
      font-weight: 400;
    }
  }
  main#about {
    .lg-heading {
      margin-top: 8vh;
      font-size: 3rem;
      margin-left: 0;
      margin-bottom: 0;
    }
    .sm-heading {
      font-size: 1.3rem;
      margin-top: 0rem;
      margin-bottom: 1rem;
      margin-left: -1rem;
      line-height: 1;
    }
    .bio {
      width: 315px;
      margin-top: 2rem;
      h3.txt-secondary {
        margin-bottom: -1rem;
      }
    }
    .skills {
      display: flex;
      flex-basis: 50%;
      justify-content: space-around;
      .skill-icon {
        i.fab {
          font-size: 4em;
        }
        i.fas {
          font-size: 4em;
        }
      }
      div.skill-iconp {
        font-size: 200%;
        height: 43px;
        width: 43px;
        border: 4px solid white;
        border-radius: 10px;
        margin: 28px auto 13px auto;
        p {
          margin-top: -19px;
        }
      }
    }
  }
  .menu-branding {
    height: 29vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      background: url("../img/portrait _smal.jpg");
      width: 150px;
      height: 150px;
    }
  }

  main#about .about-info img {
    width: 210px;
    height: 210px;
  }
  main#home .boxes div {
    h3 {
      font-size: 1.2rem;
    }
  }
  main#work {
    .lg-heading {
      margin-top: 10vh;
      font-size: 3rem;
      margin-left: 0;
      margin-bottom: 8px;
      line-height: 1;
    }
    .sm-heading {
      font-size: 1.3rem;
      margin-top: 0;
      margin-bottom: 4rem;
      margin-left: -1rem;
      line-height: 1;
    }
    .projects {
      grid-template-columns: 1fr;
    }
  }
  main#contact {
    .lg-heading {
      margin-top: 8vh;
      font-size: 3rem;
      margin-left: 0;
      margin-bottom: 0;
    }
    .sm-heading {
      font-size: 1.3rem;
      margin-top: 0rem;
      margin-bottom: 1rem;
      margin-left: -1rem;
      line-height: 1.2;
    }
    .boxes div {
      font-size: 18px;
    }
  }
}
@include mediaXs {
  .menu-btn {
    right: 14px;
    top: 14px;
    .btn-line {
      width: 32px;
      height: 4px;
      margin: 0 0 4px 0;
    }
  }
  .menu .nav-link {
    font-size: 23px;
    padding: 1rem 0;
  }
  main#home {
    .lg-heading {
      margin-top: 13vh;
      font-size: 3rem;
      margin-left: 0;
      margin-bottom: 0;
    }
    .sm-heading {
      font-size: 19px;
      margin-top: 0.2rem;
      margin-bottom: 0.2rem;
      margin-left: 0;
    }
    div.icons {
      margin-left: 0;
      i.fa {
        font-size: 14px;
      }
    }
    .tabs {
      i.fa {
        font-size: 18px;
      }
      a {
        padding: 8px;
      }
    }
    .tab-item {
      margin-right: 14px;
    }
    .tab-item h3 {
      font-size: 12px;
      font-weight: 400;
    }
  }
  main#about {
    .lg-heading {
      margin-top: 6vh;
      font-size: 3rem;
      margin-left: 0;
      margin-bottom: 8px;
      line-height: 1;
    }
    .sm-heading {
      font-size: 18px;
      margin-top: -5px;
      margin-bottom: 0.1rem;
      margin-left: -1rem;
      line-height: 1;
    }
    .bio {
      width: 198px;
      margin-top: 2rem;
      h3.txt-secondary {
        margin-top: 2rem;
        margin-bottom: -1rem;
      }
      p {
        font-size: 13px;
        font-weight: 300;
      }
    }

    .heading h2 {
      font-size: 3rem;
      line-height: 1;
    }

    .skills {
      display: flex;
      flex-basis: 100%;
      justify-content: space-around;
      .skill-icon {
        i.fab {
          font-size: 3em;
        }
        i.fas {
          font-size: 3em;
        }
      }
      div.skill-iconp {
        font-size: 200%;
        height: 43px;
        width: 43px;
        border: 4px solid white;
        border-radius: 10px;
        margin: 13px auto 13px auto;
        p {
          margin-top: -19px;
        }
      }
    }
    .float {
      width: 48px;
      height: 48px;
      bottom: 57px;
      right: 11px;
      font-size: 22px;
    }
    .my-float {
      margin-top: 15px;
    }
    @media screen and (max-width: 264px) {
      .skills {
        display: block !important;
      }
    }
  }
  main#work {
    .lg-heading {
      margin-top: 6vh;
      font-size: 3rem;
      margin-left: 0;
      margin-bottom: 8px;
      line-height: 1;
    }
    .sm-heading {
      font-size: 18px;
      margin-top: 0;
      margin-bottom: 4rem;
      margin-left: -1rem;
      line-height: 1;
    }
    .float {
      width: 48px;
      height: 48px;
      bottom: 57px;
      right: 11px;
      font-size: 22px;
    }
    .my-float {
      margin-top: 15px;
    }
  }
  main#contact {
    .lg-heading {
      margin-top: 6vh;
      font-size: 3rem;
      margin-left: 0;
      margin-bottom: 8px;
      line-height: 1;
    }
    .sm-heading {
      font-size: 18px;
      margin-top: 0;
      margin-bottom: 4rem;
      margin-left: -1rem;
      line-height: 1;
    }
    .boxes div {
      text-align: center;
      margin-top: 3rem;
      padding: 0.5rem 0.1rem;
    }
  }
}
