@import "config";
@import "menu";
@import "mobile";
* {
  box-sizing: border-box;
}
body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

//HEadings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
  &.logo {
    position: absolute;
    font-size: 3rem;
    margin-top: 0;
  }
  &.logo:hover {
    color: #fff;
  }
  &.lg-heading {
    font-size: 5rem;
    margin-left: 0rem;
  }
  &.sm-heading {
    font-size: 2rem;
    margin-top: 0rem;
    margin-bottom: 4rem;
    padding: 0.1rem 0rem;
    margin-left: 0rem;
    text-align: center;
  }
}
.animate {
  color: $secondary-color;
}
span.typed-cursor {
  color: $secondary-color;
}
a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.txt-secondary {
  color: $secondary-color;
}

main {
  padding: 1rem 2rem 2rem 2rem;
  min-height: calc(100vh - 60px);
  overflow: hidden;
  h1 {
    margin-top: 5rem;
  }

  .icons {
    position: absolute;
    bottom: 36%;
    right: 0;
    left: 0;
    margin-top: 0rem;
    margin-left: 0rem;
    text-align: center;
    a {
      padding: 0.4rem;
      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }
  .tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 10rem;
    z-index: 1;
    .tab-item {
      float: left;
      h3 {
        font-family: "Segoe UI", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 400;
      }
      &:hover {
        h3,
        a {
          color: $secondary-color;
          @include easeOut();
        }
      }
    }
    a {
      padding: 3rem;
    }
  }
  .boxes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 5rem;
    flex-basis: 32%;

    div.connect {
      font-size: 1.3rem;
      border: 1px #fff solid;

      padding: 0.5rem 1.5rem;
      margin-top: 2rem;
      margin-bottom: 0.1rem;
      @include easeOut;

      &:hover {
        border-radius: 35px;
        @include easeOut;
        background: $secondary-color;
        color: set-text-color($secondary-color);
        span {
          color: set-text-color($secondary-color);
        }
        i.fa {
          color: black;
        }
      }
    }
  }
  .skills div {
    text-align: center;
    padding: 10px;
  }
  div.skill-iconp {
    font-size: 570%;
    height: 86px;
    width: 86px;
    border: 4px solid white;
    border-radius: 10px;
    margin: 30px auto 13px auto;
    p {
      margin-top: -45px;
    }
  }
  div .job {
    &:hover {
      div.skill-iconp {
        border: 4px solid $secondary-color;
      }
      #Group_1 {
        .cls-1 {
          stroke: $secondary-color;
        }
        .cls-2 {
          fill: $secondary-color;
        }
        @include easeOut;
      }

      color: $secondary-color;
      @include easeOut;
    }
  }

  .job-1 {
    flex: 1;
  }
  .job-2 {
    flex: 1;
  }
  .job-3 {
    flex: 1;
  }
  .heading h2 {
    border-bottom: white 1px solid;
    padding-bottom: 1px;
    text-align: center;
    font-size: 3.4rem;
  }

  .float {
    position: fixed;
    width: 64px;
    height: 64px;
    bottom: 74px;
    right: 10px;
    background-color: green;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 48px;

    &:hover {
      background: white;
      color: green;
      @include easeOut;
    }
  }
  .my-float {
    position: absolute;
    left: 11px;
    right: 11px;
    top: 8px;
  }

  .fixed-bottom {
    bottom: 5%;
  }
}

//About section

.about-info {
  .bio {
    font: 1.5rem;
    text-align: center;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
    text-align: start;

    p {
      font-weight: 400;
      line-height: 1.7;
    }
  }

  .job-1 {
    grid-area: job1;
  }

  .job-2 {
    grid-area: job2;
  }

  .job-3 {
    grid-area: job3;
  }

  .job {
    border-top: $secondary-color 3px solid;
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    .skill-icon {
      text-align: center;
      line-height: 60px;
      font-size: 35px;
    }
    h3 {
      text-align: center;
      font-weight: 400;
    }
  }
}
//Bootsrap SVG ICON
svg {
  width: 98px;
  height: 121px;
}
#Group_1 {
  .cls-1 {
    fill: $primary-color;
    stroke: #fff;
    stroke-width: 2px;
  }

  .cls-2 {
    fill: #fff;
    font-size: 25px;
    font-family: SegoeUI, Segoe UI;
  }

  .cls-3 {
    stroke: none;
  }

  .cls-4 {
    fill: none;
  }
}

//Work/Projects
.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);

  img {
    width: 100%;
    border: 3px #fff solid;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

//Contact page
div.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.contact-form {
  float: left;
  flex-basis: 70%;
  input {
    margin: 10px;
    border: 0px;
    background-color: #101820ff;
    color: #fff;
    border-bottom: 1.5px solid #fff;
    font-size: 1.5rem;
    font-weight: 200;
  }
  input[id="name"] {
    margin-right: 2rem;
  }
  input[id="name"],
  input[id="email"] {
    display: inline-block;
  }
  input[id="subject"] {
    display: block;
  }
  textarea {
    display: block;
    width: 64%;
    margin-left: 10px;
    margin-top: 2rem;
    padding: 10px;
    background-color: #101820ff;
    color: #fff;
    border: 1.5px solid #fff;
    font-size: 1.5rem;
  }
}
main#contact {
  .icons {
    position: relative;
    margin-top: 2rem;
    .fa {
      font-size: 1.4em;
    }
  }
  button[type="submit"] {
    font-size: 1.3rem;
    color: #fff;
    background-color: #101820ff;

    border: 1px #fff solid;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    margin-top: 2rem;
    margin-bottom: 0.1rem;
    margin-left: 0.8rem;
    @include easeOut;

    &:hover {
      border-radius: 35px;
      @include easeOut;
      background: $secondary-color;
      color: set-text-color($secondary-color);
      span {
        color: set-text-color($secondary-color);
      }
      i.fa {
        color: black;
      }
    }
  }
}

//Button Styles
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;

  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}
.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}
.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333;
}
#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

main#maintenance {
  text-align: center;
  h1 {
    font-size: 3.5rem;
    font-weight: 400;
    margin-top: 25vh;
  }
  hr {
    margin-bottom: 2rem;
  }
  i.fa {
    font-size: 1.8rem;
  }
  a {
    font-size: larger;
    text-decoration: underline;
    font-weight: 400;
    margin-right: 1rem;
    i.fa {
      color: $secondary-color;
    }
    &:hover {
      color: set-text-color($secondary-color);
    }
  }
  @media screen and (max-width: 553px) {
    h1 {
      font-size: 15px;
      font-weight: 500;
      margin-top: 14vh;
    }
    img {
      margin-top: 1rem;
    }
    a {
      font-size: medium;
      margin-right: 0;
    }
    .connect {
      margin-top: 4rem;
      a {
        display: block;
        line-height: 3rem;
      }
    }
    h4 {
      font-size: 12px;
      margin-top: 0;
    }
  }
}
